@font-face {
    font-family: Inter-VariableFont_slnt;
    src: url(../fonts/Inter-VariableFont_slnt.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

.verde{
    color: #c5f62b;
    margin-top: 0.5rem;
    font-family: Inter-VariableFont_slnt,wght;
}
.nada{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem ;
    margin-right: 1rem ;
    font-family: Inter-VariableFont_slnt,wght;
}
h2{
    margin-top: 1.5rem ;
    font-family: Inter-VariableFont_slnt,wght;
    
}

.container{
    height: 100vh;
    background:#141414;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu{
    min-width: 30%;
    min-height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;;
    background:#1f1f1f ;
    color: white;
    border-radius: 15px;
    padding-bottom: 1rem;

}

button{
    cursor: pointer;
    font-family: Inter-VariableFont_slnt,wght;
    width: 80%;
    height: 3rem;
    border-radius: 5px;
    background: #333333;
    border: 0;
    margin: 0.5rem;
    color: white;
}
button:hover{
    background:#c5f62b;
    color: #333333;
}

img{
    margin-top: 2rem;
    width:5rem ;
    height: 5rem;
    border-radius: 50%;
}

@media (max-width: 400px){
    .menu{
        width: 90%;
        min-height: 50%;
        padding: 1rem; /* Adicionando mais espaçamento para melhor visualização em telas pequenas */
    }

    button{
        width: 100%;
        height: 2.5rem; /* Reduzindo a altura do botão para economizar espaço */
        margin: 0.5rem 0; /* Alterando a margem para melhor espaçamento em telas pequenas */
    }
}
